<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/signin.css"/>


    <!--</style>-->
    <script src="https://kit.fontawesome.com/865201df3b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>

                    <form class="form-signin" th:action="@{/account/login}"
                          th:object="${logInAccountInputForm}" method="POST">
                        <div class="form-label-group pb-2">
                            <input type="text" id="inputLogin" class="form-control" placeholder="Login"
                                   required autofocus th:field="*{login}">
                        </div>

                        <div class="form-label-group pb-4">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                                   th:field="*{password}">
                        </div>
                        <p th:if="${error == true}" class="card-text text-danger text-center">Wrong login or password</p>
                        <button class="btn btn-lg btn-primary btn-block pb-2" type="submit">Log in</button>
                        <a class="btn btn-lg btn-primary btn-block" th:href="@{/account/signup}" role="button">Sign up</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>